.card {
    display: flex;
    padding: 30px;
    border: 2px solid green;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-inner-info {
    width: 30%;
}

.card-inner-description {
    width: 60%;
}

.card-title {
    margin-bottom: 15px;
}

.card-info {
    margin-bottom: 15px;
    font-size: 15px;
}

.card-info:nth-child(3) {
    margin-bottom: 20px;
}

.card-btn-wrap {
    display: flex;
    justify-content: space-between;
}

.card-authors{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}