.searchbar{
    display: flex;
}

.searchbar-wrap{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(255, 187, 0);
    padding: 30px;
    margin: 15px 0;
}

.search-btn-wrap{
    margin-left: 13px;
}

